NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/starselling
JWT_SECRET=change-me-to-a-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
EMAIL_USER=your EMAIL_USER
EMAIL_PASS=your app password
OTP_EXPIRY_MINUTES=5
MANAGER_OTP_EMAILS=amazontl1@saumiccraft.in,ahmadfaiz8409@gmail.com
DEFAULT_OTP_EMAILS=ahmadfaiz8409@gmail.com,operationssaumiccraft@saumiccraft.in